<div>
<form id="addcourseform">
 <div class="form-group">
   <label for="email">Institute:</label>
   <input disabled type="email" class="form-control" id="email">
 </div>
 <div class="form-group">
   <label for="email">Course Name:</label>
   <input  type="" class="form-control" id="email">
 </div>
 <div class="form-group">
   <label for="email">Teacher:</label>
   <input  type="" class="form-control" id="email">
 </div>
 <div class="form-group">
   <label for="email">Teacher:</label>
   <input  type="" class="form-control" id="email">
 </div>
 <select name="type" class="custom-select-sm">
   <option selected>course type</option>
   <option value="mass">Mass</option>
   <option value="group">Group</option>
   <option value="induvidual">Induvidual</option>
 </select>
 <button type="submit" id="submit" class="btn btn-primary">Submit</button>
</form>
</div>
