<form id="addcourseform" >
 <div class="form-group">
   <label for="iname">Institute Name:</label>
   <input disabled type="text"  value="Sakya" class="form-control" id="iname">
 </div>
 <div class="form-group">
   <label for="iid">Institute ID:</label>
   <input disabled type="text" value="ins1sakya" class="form-control" id="iid">
 </div>
 <div class="form-group">
   <label for="courseName">Course Name:</label>
   <input disabled  type="text" class="form-control" id="courseName">
 </div>
 <div class="form-group">
   <label for="teacher">Teacher(s):</label>
   <input  type="text" class="form-control" id="teacher">
 </div>
</form>
