<div class="modal" id="error">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Something Went Wrong</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Try Again!!!!
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

  </div>
</div>
