<div class="modal" id="photoUploadForm">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upload  Featured Photo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <form>
      <div class="form-group" enctype="multipart/form-data" >
        <input type="file" id="feaimg" class="form-control-file border"  required>
        <button id="submit" type="submit" class="btn btn-primary">Upload</button>
      </div>
     </form>

      <div class="row" id="imgcontainer">
       <div class="col-md-12">
        <img src="" class="img-fluid img-thumbnail" id="tempimage" style="height:30vh;width:40vw;"></img>
      </div>
      </div>
    </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
