<div id="wrapper" style="margin-top:10vh;">
  <!--sidebar-->

  <div id="sidebar-wrapper" >

    <ul class="sidebar-nav">
    

       <div class="row" style="height:10vh;">
       <li><a href="#"><img src="assets/course.svg" style="width:1vw;float:left"><div class="listname" style="float:left;" >Account</div></a></li>
      </div>
      <div class="row" style="height:10vh;">
      <li><a href="#"><img src="assets/course.svg" style="width:1vw;float:left"><div class="listname" style="float:left;" >Account</div></a></li>
     </div>
     <div class="row" style="height:10vh;">
     <li><a href="#"><img src="assets/course.svg" style="width:1vw;float:left"><div class="listname" style="float:left;" >Account</div></a></li>
    </div>
    </ul>
 </div>

 <!--page content -->
 <div id="page-content-wrapper">
   <div class="container-fluid">
     <div class="row">
       <div class="col-lg-12">

          <h1>Side bar Layout</h1>
          <p>I love apple pieI love apple pieI love apple pieI love apple pieI love apple pieI love apple pie
             I love apple pieI love apple pieI love apple pieI love apple pieI love apple pieI love apple piev
             I love apple pievI love apple piI love apple pieI love apple pieI love apple pieI love apple pie
             I love apple pieI love apple pieI love apple pieI love apple pieI love apple pieI love apple pie
             I love apple pieI love apple pieI love apple pieI love apple pieI love apple pie
             I love apple pieI love apple pieI love apple pieI love apple pieI love apple pie</p>
       </div>
     </div>
   </div>
</div>
<script >
$("#menu-toggle").click(function(event){
  event.preventDefault();
  $("#wrapper").toggleClass("menuDisplayed");
});
</script>
</div>
</div>
