#banner1{
  background-image: url("../images/background/vector.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

}
#banner2{
  background-image: url("../images/background/vector2.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}
